@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #DA7649;
  --color-primary-light: #F7F1F1;
  --color-black: #17292E;
  --color-grey: #57696E;
  --color-white: #ffffff;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--color-black);
  background: var(--color-white);
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;

  &.menu-open {
    overflow: hidden;
  }
}

section {
  @apply flex flex-col gap-8 scroll-mt-28;
}

h1, h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px; /* 137.5% */
}

h3 {
  font-weight: 600;
}

p {
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 350;
  line-height: 1.6;
  @apply text-grey;
}

.btn-primary {
  display: flex;
  justify-content: center;
  text-align:center;
  align-items: center;
  flex-shrink: 0;
  font-weight: 500;
  border-radius: 3px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
  @apply bg-primary hover:bg-grey text-primary-light uppercase cursor-pointer px-4 py-2;

  &.light {
    @apply bg-black hover:bg-grey;
  }
}

header {
  position: relative; /* Create stacking context */
  z-index: 10; /* Ensure header is above other content */

  nav {
    position: fixed;
    z-index: 10; /* Set higher than .menu */
    display: flex;
    padding: 20px 32px;
    justify-content: space-between;
    align-items: flex-end;
    top: 0;
    width: 100%;
    @apply bg-white;

    .menu-toggle {
        transform: translate(0, -50%);
        height: 26px;
        width: 29px;

        &, &:hover {
            color: #000;
        }
    }

    .menu-toggle-bar {
        display: block;
        position: absolute;
        top: 50%;
        margin-top: -1px;
        right: 0;
        width: 100%;
        height: 4px;
        border-radius: 4px;
        background-color: black;
        transition: all 0.3s ease;

        &.menu-toggle-bar--top {
            transform: translate(0, -10px);
        }
        &.menu-toggle-bar--middle {
        }
        &.menu-toggle-bar--bottom {
            transform: translate(0, 10px);
        }

        .nav-open & {
            &.menu-toggle-bar--top {
                transform: translate(0, 0) rotate(45deg);
            }
            &.menu-toggle-bar--middle {
                opacity: 0;
            }
            &.menu-toggle-bar--bottom {
                transform: translate(0, 0) rotate(-45deg);
            }
        }
    }
  }

  .menu {
    /* Full screen mobile menu */
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background: var(--color-white);
    z-index: 1; /* Lower than nav */
    transform: translateY(-100%); /* Hide menu initially */
    transition: transform 0.3s ease-in; /* Adjust duration as needed */
    @apply pt-[150px];

    &.open {
        transform: translateY(0);
    }

    ul {
      @apply pt-[130px];
      li {
          @apply p-[8px] text-center;

          img {
            transform: translate(-200px);
            @apply mr-1;
          }

          &:active {
            img {
              transform: translate(0px);

              transition: transform 0.3s ease-in; /* Adjust duration as needed */
            }
          }

          a {
              @apply uppercase;
              font-family: Roboto;
              font-size: 32px;
              font-style: normal;
              font-weight: 600;
              line-height: 44px; /* 137.5% */
          }
      }
    }
  }
}

section#services {
  @apply md:flex md:flex-col;

  .service-list {
    @apply md:grid md:grid-cols-2 md:gap-8 md:justify-center;

    >div {
      @apply flex flex-col bg-primary-light -mx-8 md:mx-0;

      h3 {
        @apply p-8 pb-4 font-medium;
      }

      p {
        @apply p-8 pt-4 pt-0;
      }    
    }
  }
}

.full-width {
  display: flex;
  padding: 64px 32px;
  flex-direction: column;
  align-items: center;
  gap: 33px;
  align-self: stretch;
  @apply -mx-8 md:mx-0;
}

.full-inline {
  @apply -mx-0 p-0;
}
.imprint p {
  @apply text-grey;
}

input[type=text], textarea {
  @apply w-full p-2 border border-grey bg-white text-grey;
}

#contact {
  h2 {
    @apply text-center;
  }
  p {
    @apply text-center;
  }
}